
.panel {
    margin-top: 14px;
}

.panel-heading {
    background-color: #ff9900;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-content {
    display: block;
    background-color: #ffdcb6;
    border-bottom: 1px solid #717171;
    font-size: 16px;
    line-height: 15px;
}

.panel-content-text {
    margin-top: 3px;
}

.panel-ref:hover{
    text-decoration: none;
    color: grey
}

.panel-author {
    color: #717171;
}