.high {
  .panelHeading {
    background-color: #ff9900;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    height: 46px;
    background: whitesmoke;
    border: 1px solid grey;

    .top,
    .bottom {
      display: flex;
      margin-left: 5px;
      justify-content: space-between;
    }

    .author,
    .time {
      color: grey;
    }

    .title {
      max-width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
